In [1]:
import pandas as pd

In [12]:
df = pd.read_excel('Продажи по контрагентам.xlsx', sheet_name='Таблица1')

In [14]:
df

,Столбец1,Столбец2,Столбец3,Столбец4,Столбец5,Столбец6,Столбец7,Столбец8,Столбец9
0,"ГАРФИН ООО, 7743362814, mto@garfin-m.ru",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"НОНТОН ООО, 7802696219, info@nonton.ru , info@...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"ТОПФЛОР ООО, 9717095669, gorushkonastya@yandex...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Мазурин Евгений Борисович, 482600785910, lrs.m...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"ЭНИКС АО, 1661009974, op@enics.ru,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2034,"КИРОВСКИЙ ССК АО СЗ, 4345146992, ki.kssk@mail....",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2035,"ЭРА ООО, 7801708060, vladimir_mihalko@mail.ru",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2036,"РБС ГРУПП ООО, 7720794984, info@rbsg.ru / orde...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2037,"БХП ЮГРЕАКТИВ ООО, 6162043665,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2038,"ТРАНСРЕГИОН ООО, 5032200925,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
def transform_data(row) -> pd.DataFrame:
    parts = row.split(', ')
    name = parts[0]
    inn = parts[1]
    emails = [email.strip().replace("<", "").replace(">", "").replace("?", '') for email in parts[2:] if email.strip() and not email.endswith(('enix.ru', 'enyx.ru'))]
    emails = [e for email in emails for e in email.split() if '@' in e]
    return pd.DataFrame({'Контрагент': name, 'ИНН': inn, 'Email': emails})

In [70]:
df_processed = pd.concat([transform_data(row) for row in df['Столбец1']], ignore_index=True)

In [71]:
df_processed = df_processed.drop_duplicates(subset=['Email'], keep='first')

In [73]:
df_processed

                     Контрагент           ИНН                     Email
0                    ГАРФИН ООО    7743362814           mto@garfin-m.ru
1                    НОНТОН ООО    7802696219            info@nonton.ru
3                   ТОПФЛОР ООО    9717095669  gorushkonastya@yandex.ru
4                   ТОПФЛОР ООО    9717095669       info@topfloormsk.ru
5     Мазурин Евгений Борисович  482600785910        lrs.maz@lrsk.48.ru
...                         ...           ...                       ...
2788        КИРОВСКИЙ ССК АО СЗ    4345146992  iraida.devyatykh@mail.ru
2789        КИРОВСКИЙ ССК АО СЗ    4345146992     kolchanova_av@mail.ru
2790                    ЭРА ООО    7801708060  vladimir_mihalko@mail.ru
2791              РБС ГРУПП ООО    7720794984              info@rbsg.ru
2792              РБС ГРУПП ООО    7720794984            order@ateri.ru

[2660 rows x 3 columns]

In [72]:
df_processed.to_excel('Продажи по контрагентам обработаный.xlsx')